<!DOCTYPE html>
<html lang="en">
<head>
    <title>Products Details</title>
     <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <style>
        body{
            background-color: greenyellow;
        }
        .container{
            background-color: red;
            border-radius: 50px;
            margin-top: 100px;
            height: 130px;
        }
        form{
            border: 5px;
            border-color: cyan;
            padding: 80px;
        }
    </style>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <form action="{% url'genericviews:makeentry'%}"method="post">
                <!--{% csrf_token %}-->
                <!{{ form }}<br>
                <center><input type="submit" value="submit"></center>
            </form>
        </div>
    </div>
</div>
</body>
</html>